Repository Tutor2Tutee/Tutor2Tutee, pull requests merged in 2021-08, with the labels that each got.

#50 added : testcode
  jest.config.js
  package-lock.json
  package.json
  servers/routes/index.js
  servers/server.js
  tests/classes.test.js
  tests/testMongoDB.js
  tests/users.test.js
Labels: API, Backend, TEST, enhancement

#51 Quiz
  package-lock.json
  package.json
  servers/models/quizSchema.js
  servers/routes/Quiz.js
  servers/routes/index.js
  src/component/Instruction/Instruction.css
  src/component/Instruction/Instruction.js
  src/component/QuestionBox/QuestionBox.css
  src/component/QuestionBox/QuestionBox.js
  src/component/ResultBox/ResultBox.css
  src/component/ResultBox/ResultBox.js
  src/component/Timer/Timer.css
  src/component/Timer/Timer.js
  src/pages/Quiz/QuizList/QuizList.css
  src/pages/Quiz/QuizList/QuizList.js
  src/pages/Quiz/SingleQuiz/SingleQuiz.css
  src/pages/Quiz/SingleQuiz/SingleQuiz.js
  src/pages/index.js
  src/shared/App_Latest.js
Labels: API, Backend, Frontend

#52 Users code Coverage up to 95%
  servers/routes/User.js
  tests/users.test.js
Labels: API, Backend, TEST

#54 routes/Class.js 92% coverage API testing code
  servers/routes/Class.js
  tests/classes.test.js
  tests/testMongoDB.js
  tests/tokenizer.js
  tests/users.test.js
Labels: Backend, API, TEST

#57 Implemented Add Quiz form
  servers/models/quizSchema.js
  servers/routes/Quiz.js
  src/pages/Quiz/AddQuiz/AddQuiz.css
  src/pages/Quiz/AddQuiz/AddQuiz.js
  src/pages/index.js
  src/shared/App_Latest.js
Labels: enhancement, Frontend
